@import url("https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display:400,700|Raleway:400,700");
* {
  box-sizing: border-box; 
}


body {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.flex_wrap {
  max-width: 100% !important;
  background: #fff; }

nav {
  background-color: #313131;
  width: 100%; }

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; }

nav ul li a {
  display: block;
  font: 100% "Open Sans", sans-serif;
  color: #fff;
  text-decoration: none;
  padding: 15px; }

nav ul li a:hover {
  opacity: 0.6;
  transition: all 0.3s; }



nav ul li:first-child {
  margin-right: auto; }

nav ul li:nth-child(n+2) {
  margin-right: 8px; }

.logo {
  font: 2.5em "Raleway", sans-serif;
}

.logo_pt2 {
  font-weight: bold;
}


.current {
  color: #EEC41B99 !important;
}

footer {
  font: 100% "Open Sans", sans-serif;
  background-color: #313131;
  width: 100%;
  color: #fff; }

.footer_wrap {
  padding: 35px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto 50px;
  justify-items: center;
  align-items: end;
  grid-template-areas: "list_left list_middle list_right" ". copyright_full_grid ."; }

.footer_wrap .phone {
  grid-area: list_left; }

.footer_wrap .address {
  grid-area: list_middle; }

.footer_wrap .email {
  grid-area: list_right; }

.footer_wrap .copyright {
  grid-area: copyright_full_grid; }

.footer_block {
  display: flex;
  align-items: center; }

.footer_block:nth-child(2) {
  width: 250px; }

.footer_block:nth-child(2) img {
  width: 70%; }

.footer_icon {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.hero {
  width: 100%;
  height: 60vh;
  background: #3B363C; 
  display: flex;
  align-items: center;

  }


header {
  font: 5em "Raleway", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin-left: 20px; }

h1 {
  font: 2.3em "Playfair Display", serif;
  text-align: center;
  text-transform: uppercase; }

h2 {
  font: 1.5em "Raleway", sans-serif; }

.bold_h2 {
  font-weight: bold; }

h3 {
  font: 1.5em "Playfair Display", serif;
  font-weight: bold; }

p {
  font: 100% "Open Sans", sans-serif; }

.main_story_wrap > div {
  font: 100% "Open Sans", sans-serif; }

.yellow_header {
  color: #EEC41B; }

.red_title {
  color: #A03030; }

.global_transition {
  transition: all 0.3s ease-out;
}
/*global layout*/
.center_intro {
  display: grid;
  grid-template-columns: 2fr 3.5fr 2fr;
  grid-template-rows: auto auto;
  grid-template-areas: ". center_content ."; }


/* article_page_grid */
.article_page_grid {
  display: grid;
  grid-template-columns: 5fr 2.5fr;
  grid-template-rows: auto;
}


.article_type_box {
  grid-column: 1/-1;
  grid-row-start: 1;
}

.page_updated_bold {
  font-weight: 700;
  color: #fff;
  background: #EEC41B;
  padding: 2px 5px;
  border-radius: 5px;
}

.week_bold {
  font-weight: 700;
  color: #313131;
}

.main_sotry_date {
  grid-column: 2/3;
  grid-row-start: 3;
  text-align: right;
}
.main_sotry_author {
  grid-column: 1/-1;
  grid-row-start: 3;
  align-self: end;
}

.article_img_box {
  grid-row-start: 2;
  grid-column: 1/-1;
}

.inner_article {
  grid-column: 1/-1;
}

.main_sotry_author {
  grid-column: 1/-1;
  grid-row-start: 3;
  align-self: end;
}

.featured_text_middle {
  text-align: center;
}

/**//**//**//**//**//**//**//**//**/

.featured_yellow_box {
  border: 3px solid #EEC41B;
  box-sizing: border-box !important;
  width:50%;
  margin:2px auto;
  position: relative;
}

.inner_center_content {
  grid-area: center_content; }

.three_box_flex {
  display: flex;
  justify-content: space-evenly;
  padding: 15px; }

.home_page_sec_head {
  color: #EEC41B;
  font: 2em "Playfair Display", serif;
  text-transform: uppercase;
  margin-left: 20px; }

/*home*/

.hero_box {
  width: 90%;
  max-width: 940px;
  margin: 5px auto;
}



.homepage_grid {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(150px, auto) minmax(150px, auto);
  grid-auto-rows: minmax(100px, auto);
}

.homepage_grid > * {
  padding: 10px;
}

.homepage_grid a div h2, .homepage_grid a div p {
  margin: 0;
}

.homepage_grid a div h2+ .homepage_grid a div p {
  margin-top: 0;
}

.bg_link_botton {
  text-decoration: none;
  color: #fff;
  background: rgba(49, 49, 49, 0.37);
}

.bg_img_box {
  position: relative;
  background-repeat: no-repeat;
  background-position:cover;
  background-size: 100%;
  height: 100%; 
}

.home_about {
  grid-column: 1/3;
  grid-row: 1/ 4;
  background-image: url(../img/index_about02.jpg);
}



.home_ads1 {
  grid-column: 3/-1;
  grid-row: 1 / 6;
  background-image: url(../img/ads03.png);
}

.home_ads2 {
  grid-column: 1/2;
  grid-row: 4 / 9;
  background-image: url(../img/ads01.png);
}


.home_guide {
  grid-column: 2/-1;
  grid-row: 6 / 9;
  background-image: url(../img/article05.jpg);
}


.home_story {
  grid-column: 2/3;
  grid-row: 4 / 6;
  background-image: url(../img/article01.jpg);
}


/*text over images*/

.bg_link_botton {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.75);
  padding: 4px 8px;
  color: white;
  margin: 0;
  padding: 10px;
}

.bg_link_botton:hover {
  color: rgba(238,214,27, 0.75); 
  padding: 15px;
}

.bg_link_botton > p {
  margin: 0;
  padding: 0;
}

.social_icon {
  padding: 50px 0; }

.gray_color {
  color: #3B363C;
  opacity: 0.8;
  font-weight: 700; }

.music_events_list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center; }

.music_events_detail {
  border: 3px solid #EEC41B;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  margin-bottom: 30px; }

.event_title {
  grid-column: 1/-1; }





.storyPage_grid {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto; 
}

.main_story_wrap {
  display: grid;
  max-width: 100%;
  margin: 0 auto;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  padding-bottom: 3em; }



.story_img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.article_01 {
  background-image: url(../img/article01.jpg); }

.article_02 {
  background-image: url(../img/article02.jpg); }

.article_03 {
  background-image: url(../img/article03.jpg); }

.article_04 {
  background-image: url(../img/article04.jpg); }

.article_05 {
  background-image: url(../img/article05.jpg); }

.article_06 {
  background-image: url(../img/article06.jpg); }

.article_07 {
  background-image: url(../img/article07.jpg); }

.story_index_yellow {
  padding: 3px 10px;
  background: #EEC41B;
  border-radius: 5px;
  color: #fff;
  text-align: center; }

/**/

@media only screen and (max-width: 900px) {
  header {
    font: 3em "Raleway", sans-serif;
    font-weight: bold;
  }

  .center_intro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 20px;
  }

  .inner_center_content {
    grid-column: 1;
  }

  .homepage_grid {
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: minmax(150px, auto) minmax(150px, auto);
    grid-auto-rows: minmax(150px, auto);
  }
  .home_guide {
    grid-column: 1/-1;
    grid-row:9 ;
    background-position: center;
  }
  .home_story {
    grid-row: 8;
    grid-column: 1;
  }
  .home_ads1 {
    grid-column: 2;
    grid-row: 4/9;
  }


  .article_page_grid {
    display: grid;
    grid-template-columns: 1fr;
  }


  .article_type_box {
    grid-column: 1/-1;
    grid-row-start: 1;
  }

  .page_updated_bold {
    font-weight: 700;
    color: #fff;
    background: #EEC41B;
    padding: 2px 5px;
    border-radius: 5px;
  }

  .week_bold {
    font-weight: 700;
    color: #313131;
  }

  .main_sotry_date {
    grid-column: 1;
    grid-row-start: 2;
    text-align: right;
  }
  .main_sotry_author {
    grid-column: 1/-1;
    grid-row-start: 3;
    align-self: end;
  }

  .article_img_box {
    grid-row-start: 1;
    grid-column: 1/-1;
  }

  .inner_article {
    grid-column: 1/-1;
  }

  .main_sotry_author {
    grid-column: 1/-1;
    grid-row-start: 3;
    align-self: end;
  }

  .featured_text_middle {
    text-align: center;
  }

}

@media only screen and (max-width: 600px) {
  nav ul li:first-child {
  margin: auto; 
  }
  nav ul {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; }

  .homepage_grid {
    grid-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-columns: auto;
    grid-auto-rows: 150px;
    grid-auto-flow: row dense;
  }
  .homepage_grid > div {
    grid-column: 1/1;
  }

  .home_about {
    grid-row: 1;
  }
  .home_ads1 {
    grid-row: 2;
    background-position: 40% 60%;
  }
  .home_ads2 {
    grid-row: 3;
    background-position: 40% 60%;
  }
  .home_guide {
    grid-row: 4;
  }
  .home_story {
    grid-row: 5;
  }

  .music_events_detail {
    display: flex;
    flex-direction: column;
  }
}

